body {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 1px;
}
.aaa{
    width: 192px;
    height: 818px;
    left: 68px;
    right: 68px;
    top: 216px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
}
* {/*Deixa mais bonitinho*/
    box-sizing: border-box;
    transition: .25s all ease;
}

.login-container { /*BOX*/
    display: block;
    border-radius: 31px;
    position: relative;
    z-index: 0;
    margin: 307px auto 307px auto;
    padding: 5rem 4rem 0 4rem;
    width: 100%;
    max-width: 525px;
    background: #2B076E;/* Colocar a imagem de fundo background-image:*/
    width: 523.64px;
}

