@import "../master.css";

#formulario{
    margin-top: 20px;
    margin-bottom: 20px;
}
#formulario #titulo{
    font-size: 30px;
}
#formulario #form-warper {
	background-image: url('../../images/forms-login/background.png');
	width: max-content;
	padding: 28px;
	margin: 0 auto;
	background-size: cover;
	border-radius: 35px;
	min-width: 420px;
}
#formulario #form-warper #mensage{
    color: #fff;
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
}
#formulario #form-warper .label-login{
    text-align: center;
    width: 100%;
    float: inline-start;
}
#formulario #form-warper #input-codigo{
    width: 90%;
    font-size: 30px;
    border-radius: 2000px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: bold;
}
/* formulario de login */
#formulario .login-form #bt-login{
    margin: 20px;
    width: 80%;
    margin-bottom: 0;
}
#formulario .login-form label{
    color: #fff;
    float: left;
    margin-left: 12px;
}
#formulario .login-form input{
    font-size: 25px;
    border-radius: 2000px;
    width: 100%;
}
#formulario .login-form .input-warp{
    margin: 20px 0;
}
#formulario .login-form .mensage-link{
    color:#f4f4f4;
    text-decoration: underline;
}
#formulario #alert-area{
    font-size: 12px;
    border-radius: 25px;
    width: 100%;
    margin: 10px 0;
    resize: none;
}
#formulario .register-form .input-warp{
    margin: 10px 0;
}













/*  */
