@import "../master.css";


body#form-login #formulario{
    margin-top: 20px;
    margin-bottom: 20px;
}
body#form-login #formulario #titulo{
    font-size: 30px;
}
body#form-login #formulario #form-warper {
	background-image: url('../../images/forms-login/background.png');
	width: max-content;
	padding: 28px;
	margin: 0 auto;
	background-size: cover;
	border-radius: 35px;
	min-width: 420px;
    max-width: 100%;
}
body#form-login #formulario #form-warper #mensage{
    color: #fff;
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
}
body#form-login #formulario #form-warper .label-login{
    text-align: center;
    width: 100%;
    float: inline-start;
}
body#form-login #formulario #form-warper #input-codigo{
    width: 90%;
    font-size: 30px;
    border-radius: 2000px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: bold;
    border: 0;
}
body#form-login #formulario .login-form #bt-login{
    margin: 20px;
    width: 80%;
    margin-bottom: 0;
}
body#form-login #formulario .login-form label{
    color: #fff;
    float: left;
    margin-left: 12px;
}
body#form-login #formulario .login-form input{
    font-size: 19px;
    border-radius: 2000px;
    width: 100%;
    padding: 7px;
    border: 0;
}
body#form-login #formulario .login-form .input-warp{
    margin: 20px 0;
}
body#form-login #formulario .login-form .mensage-link{
    color:#f4f4f4;
    text-decoration: underline;
}
body#form-login #formulario .login-form .mensage-link#esqueci{
    color:#ff3030;
    text-decoration: none;
}
body#form-login #formulario #alert-area{
    font-size: 12px;
    border-radius: 25px;
    width: 100%;
    margin: 10px 0;
    resize: none;
    border: 0;
    background: #fff;
    padding: 10px;
}
body#form-login #formulario .register-form .input-warp{
    margin: 10px 0;
}
body#form-login #formulario .register-form .submit-warp{
    margin-top: 24%;
}











/*  */
