@import "master.css";
:root{
    --primary: #0D0D2B;
    --text-A: #fff;
    --text-B: #E0E0E0;
}
#porque-usar{
    background-color: var(--primary);
    color: var(--text-A);
    height: 100vh;
}
#porque-usar #statistics{
    padding: 5vh 0;
}
#porque-usar #statistics .statistic-warp{
    display: inline-flex;
}
#porque-usar #statistics .statistic-warp img{
    width: 100px;
    height: auto;
}
#porque-usar #statistics .statistic-warp ul{
    margin-left: 20px;
    list-style: none;
}
#porque-usar #statistics .statistic-warp ul h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}
#porque-usar #statistics .statistic-warp ul p{
    font-size: 20px;
    color: var(--text-B);
}

/*  */
#porque-usar #call-text h3{
    margin: 30px 0;
    font-size: 40px;
}
#porque-usar #call-text p{
    font-size: 18px;
    color: var(--text-B);
}


#banner-home{
	background-image: url('../images/home/background1.png');
	height: 100vh;
	background-size: 170vh;
}

header{
	background-color: #0D0D2B;
    padding: 10px;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline;
    margin: 0 8px 0 8px;
    color: var(--branco);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
header #logo{
    height: 100%;
    width: 50px;
}

header #header_registrar{
	color: white;
    text-align: right;
}
header #header_registrar p{
    color: var(--branco);
    font-size: 30px;
}
header #header_registrar button{
    color: var(--branco);
    font-weight: 700;
    font-size: 15px;
    background-color: transparent;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: var(--branco);
    padding: 8px 15px 8px 15px;
}
header #header_registrar button#header-login{
    border: 0;
}


















/*  */
