*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}
img{
    max-width: 100%;
}

/* Botões */
a{
    color: unset;
    text-decoration: none;
}
.botao-secundario, .botao-primario{
    font-size: 18px;
    padding: 4px 20px;
    border-radius: 20000px;
    margin: 5px;
    border: 2px;
    border-style: solid;
    border-color: #3671E9;
}
.botao-secundario:hover, .botao-primario:hover{
    cursor: pointer;
}
.botao-secundario{
    color: #3671E9;
    background-color: #fff;
}
.botao-primario{
    color: #fff;
    background-color: #3671E9;
