#banner{
    min-height: 90vh;
    padding: 10% 0;
    background-image: url("../../images/home/background1.svg");
    background-size: 110%;
    background-position: top;
    color: #fff;
    overflow-x: hidden;
}
#banner h1{
    font-size: 30px;
    font-weight: bold;
}
#banner h2{
    font-size: 15px;
}
#banner #img-waper{
}
#banner img{
}
